.hero{
    width: 100%;
    min-height: 60vh;
    position: relative;
    padding: 60px 0px;
    display: flex;
    align-items: center;
}
.bg-color{
    background-color: var(--bg-hero);
}
.home-title{
    font-family: var(--font-heading);
    color: var(--heading-color);
    font-size: 64px;
    font-weight: 700;
}
.home-title-desc{
    font-size: 20px;
    font-weight: 400;
    color: #888b8e;
}
.imgAn{
    position: relative;
    animation: up-down 5s ease-in-out infinite ;
}
@keyframes up-down{
    0%, 100%{
        top:0;
    }
    50%{
        top:-30px;
    }
}